@use "../fonts/Roboto/roboto-font.css";
@use "../fonts/Hind-Madurai/hind-madurai-font.css";
@use "../fonts/Fredoka-one/fredoka-one-font.css";

@import "base/variable";
@import "base/mixins";

* {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 940px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 320px;
    }
}

@import "blocks/header";
@import "blocks/promo-panel";
@import "blocks/buttons";
@import "blocks/promo-info";
@import "blocks/burger-menu";
@import "blocks/benefit";
@import "blocks/arrows";
@import "blocks/day-product";
@import "blocks/produscts";
@import "blocks/tabs";
@import 'blocks/reviews';
@import 'blocks/review';
@import 'blocks/mobile-app';
@import 'blocks/help';
@import 'blocks/footer';