.promo-info {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 720px;
    padding-top: 20px;

    &__main-info {
        max-width: 665px;
        color: #0f0101;
    }

    &__subtittle {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    &__tittle {
        font-family: "Fredoka One", cursive;
        font-weight: 400;
        font-size: 57.33px;
        line-height: 120.5%;
        margin-bottom: 35px;

        span {
            color: $main-color;
            font-family: "Fredoka One", cursive;
        }
    }

    &__descr {
        font-family: "Hind Madurai";
        width: 80%;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $grey-color;
        margin-bottom: 50px;
    }

    &__img {
        position: absolute;
        max-width: 523px;
        top: 44px;
        right: -16px;

        &_day-product {
            top: -61px;
        }

        img {
            width: 100%;
        }
    }

    &_day-product {
        min-height: 420px;
    }
}

@media (max-width: 1200px) {
    .promo-info {
        min-height: 650px;

        &__main-info {
            max-width: 375px;
            margin-left: 75px;
        }

        &__tittle {
            font-size: 33px;
            margin-bottom: 18px;
        }

        &__descr {
            font-size: 15px;
            line-height: 23px;
            margin-bottom: 22px;
        }

        &__img {
            width: 560px;
            top: 9px;
            &_day-product {
                top: -56px;
            }
        }

        &_day-product {
            min-height: 420px;
        }
    }
}

@media (max-width: 991px) {
    .promo-info {
        min-height: 440px;

        &__tittle {
            font-size: 28px;
            margin-bottom: 15px;
        }

        &__descr {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 18px;
        }

        &__img {
            max-width: 350px;
            &_day-product {
                top: -18px;
            }
        }

        &_day-product {
            min-height: 308px;
        }
    }
}

@media (max-width: 767px) {
    .promo-info {
        min-height: 300px;

        &__tittle {
            font-size: 24px;
            margin-bottom: 10px;
        }

        &__descr {
            line-height: 16px;
            margin-bottom: 13px;
        }

        &__img {
            width: 270px;
            &_day-product {
                top: -12px;
            }
        }

        &__main-info {
            margin-left: 30px;
        }

        &_day-product {
            min-height: 250px;
        }
    }
}

@media (max-width: 575px) {
    .promo-info {
        flex-direction: column;
        align-items: center;

        &__img {
            width: 200px;
            position: static;
            margin-top: 10px;

            &_day-product {
                margin-top: 0;
            }
        }

        &_day-product {
            min-height: 250px;
        }

        &__main-info {
            max-width: 280px;
            order: 1;
            margin-top: 10px;
        }
    }
}
