@font-face {
    font-family: 'Hind Madurai';
    src: url('../fonts/Hind-Madurai/HindMadurai-Regular.ttf');
    src: local('HindMadurai-Regular'), local('HindMadurai-Regular'),
        url('../fonts/Hind-Madurai/HindMadurai-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('../fonts/Hind-Madurai/HindMadurai-SemiBold.ttf');
    src: local('HindMadurai-SemiBold'), local('HindMadurai-SemiBold'),
        url('../fonts/Hind-Madurai/HindMadurai-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Hind Madurai';
    src: url('../fonts/Hind-Madurai/HindMadurai-Bold.ttf');
    src: local('HindMadurai-Bold'), local('HindMadurai-Bold'),
        url('../fonts/Hind-Madurai/HindMadurai-Bold.ttf') format('truetype');
    font-weight: 700;
}